@font-face {
    font-family: 'DreamsCar3';
    src: url('../../styles-v9/fonts/october_crow.ttf');
}

@font-face {
    font-family: 'ZNSecondary';
    src: url('../../styles-v9/fonts/yahfie.ttf');
}

@media screen and (pointer: fine), screen and (pointer: coarse) and (min-device-width: 601px) {.data {grid-template-columns: 230px auto;}}
  
@media screen and (pointer: fine), screen and (pointer: coarse) and (min-device-width: 601px) {
  .tricheck {font-family: 'Yahfie' !important;}
  .filter_tool_button {font-family: 'Yahfie'; }
}

.phasfont {font-family: 'DreamsCar3' !important;}

.yfont {font-family: 'Yahfie' !important;}

.ghost_name {font-family: 'DreamsCar3' !important;}

.num_evidence {font-family: 'Yahfie' !important;}

@media screen and (pointer: fine), screen and (pointer: coarse) and (min-device-width: 601px) {
    .hunt_sanity_title {
        grid-column: 1;
        grid-row: 5;
        font-size: 21px;
        z-index: 2;
        margin-top: 8px;
    }
}



#settings_box,
#links_box,
#wiki_box,
#event_box,
#maps_box,
#discord_link_box {
  margin-left: 50px; !important;
}

#content {grid-template-columns: auto 280px;}